@charset "utf-8";
/* CSS Document */

body {
	background-color: #A9F1B5;   /* background color */
	color: #444;          /* text color for the entire page */
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#EBEB8C;
	font-weight: bold;
	font-size: 200%;
	max-width: 1000px;
	margin: 10px auto;
	border: 1px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	
 }

.stepContent{ 
	background-color: white;
	padding:15px;
	max-width: 1000px;
	margin: 10px auto;
	border: 1px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:15px;
	line-height:145%;
	font-size: 30px;
}

.stepImage {
	width:30%;	
	padding:5px;
	text-align: center;
}

.stepImage img {
    width:100%;
    height:auto;
}

strong {
  font-weight: 800;
	
}
#sources {
	background-color: white;
	padding:15px;
	max-width: 800px;
	margin: 10px auto;
	border: 1px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	font-size: 50px;
}

.referencestittle{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.references {
  font-size: 30px;      /* adjust: try 16–18px */
  line-height: 1.6;     /* improves readability */
  margin: 0;
  padding-left: 20px;
}

.references li {
  margin-bottom: 8px;   /* space between items */
}

.warning {
		background-color: #FBB8C4;
		padding:10px;
		border-radius:30px;
	    font-size: 27px;
}

.material-icons {
	color:red; 
	font-size: 50PX;
}





